
/Libraries/ActionBarSherlock/bin
/Libraries/HoloEverywhereLib/bin
/Libraries/HoloEverywhereLib/gen
/Libraries/ActionBarSherlock/gen
/Libraries/ViewPagerIndicator/gen
/Libraries/ViewPagerIndicator/bin
/Libraries/Gridlayout/gen
/Libraries/Gridlayout/bin
/Libraries/SlidingMenu/gen
/Libraries/SlidingMenu/bin
/Project/bin
/Project/gen