<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.binomed.dont.forget.mom"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="10" />
    <!-- Maps -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name="DontForgetMomApplication"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/DonForgetMomTheme" >
        
        <uses-library android:name="com.google.android.maps" />
        
        <activity
            android:name=".screen.DontForgetMomActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustPan" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".screen.edit.EditionActivity"
            android:label="@string/action_new" 
            android:windowSoftInputMode="adjustPan">
        </activity>
        <activity
            android:name=".screen.trips.TripsActivity"
            android:label="@string/action_map"
			android:theme="@style/DonForgetMomTheme"
			android:windowSoftInputMode="adjustPan">
        </activity>
        <activity android:name=".screen.trips.InnerMapActivity"></activity>
        
    </application>

</manifest>